/* Estilo para hacer el área de desplazamiento más angosta */
.MuiTableContainer-root::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  .MuiTableContainer-root::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color del "thumb" de la barra de desplazamiento */
    border-radius: 4px; /* Radio de borde del "thumb" */
  }
  
  .MuiTableContainer-root::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color de la pista de la barra de desplazamiento */
  }