
.payments-reimbursements-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.payments-reimbursements-container h1 {
  text-align: center;
  color: #003366;
  margin-bottom: 20px;
}

.payments-reimbursements-container h2 {
  margin-top: 30px;
  color: #003366;
}

.payments-reimbursements-container p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.payments-reimbursements-container ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.payments-reimbursements-container li {
  margin-bottom: 10px;
}

.payments-reimbursements-container strong {
  font-weight: bold;
}


.responsive-img {
  max-width: 70%; /* Ajusta el porcentaje según el tamaño deseado */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 20px auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que el margen automático funcione */
}

/* Si deseas ajustar el tamaño solo para pantallas grandes */
@media (min-width: 768px) {
  .responsive-img {
    max-width: 70%; /* Cambia el valor para pantallas grandes */
  }
}

.divider {
  border: 0;
  border-top: 2px solid #003366;
  margin: 40px 0;
}
