.react-chatbot-kit-chat-header{
    background-color: #fff;
    color: #003366;
    padding: 1em;
    border-bottom: solid #003366 2px;
    flex: unset !important;
  }
  
.header-container{
    height: 3em;
    width: 100%;
    display: inline-flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.header-container button{
    border: #003366 solid 2px;
    border-radius: 10em;
    color: #003366;
}

.header-container button svg{
    width: .8em;
    height: .8em;
}